body {
  margin: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  border: solid 1px black;
  height: 90vh;
  max-width: 600px;
  width: 90%;
  padding: 10px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}
.inputTask{
  display: flex;
}
.inputTask input{
  flex-grow: 1;
}
.inputTask button{
  width: 50px;
  height: 50px;
}
.taskList {
  border: 1px black solid;
  flex-grow: 1;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}